version: '3.8'

services:
  db:
    image: postgres:16-alpine
    container_name: morfolog-db
    restart: always
    env_file:
      - .env
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
